VITE_WEBHOOK_URL=https://astroproduct.app.n8n.cloud/webhook/article-to-fb-photo
VITE_AFFILIATE_WEBHOOK_URL=https://astroproduct.app.n8n.cloud/webhook/shopee-affiliate-links
VITE_AFFILIATE_BRANDS_URL=https://astroproduct.app.n8n.cloud/webhook/shopee-brands
